.Manga{
    display: flex;
    justify-content: space-around;
    padding: 2%;
    width: 70%;
    border: solid;
    border-radius: 2em;
    margin: 0 auto;
}

.Manga img{
    max-width: 100%;
    height: auto;
}

/*.Cover{
    width: 30%;
}*/
.Detail{
    padding: 1%;
}
.column{
    display: flex;
    justify-content: space-between;
    text-align: start;
}
.column > * {
    flex: auto 1;
  }


p{
    text-align: start;
}
span{
    font-weight: bold;
    font-size: larger;
    white-space: nowrap;
}

.MangaCards{
    padding: 2%;
    width: 30%;
    border: solid;
    border-radius: 2em;
    margin-bottom: 2%
}

.MangaCards img {
    max-width: 100%;
    height: auto;
}

h4{
    font-style: italic;
}

.favorites{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding:2%
}